# Twitter PainBlock

## Instalaciones y Librerias

In [ ]:
#!pip install tweepy

In [3]:
import json
from pandas.io.json import json_normalize
import pandas as pd
import requests
import tweepy
import csv
import mysql.connector as conn

## API Authentication

In [ ]:
# 4 authentication chains

consumer_key='jQTzrkE7vlZbg2ntJu4LESCZs'
consumer_secret='AS4B8YLOWXMcrHjJyZ8stWcm9Cp2qh0rCdIjiWaPBaTTc22tnO'
access_key='902474996-b1ltSFx5Y2EdJfi2s63pghsULdjLTF1lkW6oHBvj'
access_secret='TrZr5nGmi2Q4RcAJJ3UHbwuWkAqjcNXOTfCHLm1eOzpnn'

In [ ]:
# authorize twitter, initialize tweepy

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

## Getting tweets - Pablo Iglesias

In [ ]:
import sys
sys.path.append('../')

from src.track_function import track

In [ ]:
df_piglesias = track ('@PabloIglesias', 450)

In [ ]:
{'tweet_id','date', 'tweet_text', 'source',
                       'in_reply_to_screen_name',
                       'user_name', 'user_screen_name', 'location',
                       'user_url', 'n_followers', 'verified'}

## Dataframe to SQL - Pablo Iglesias

In [5]:
connection=conn.connect(host='localhost', user='root', passwd='123456')
cursor=connection.cursor()

In [ ]:
# Insert DataFrame recrds one by one.

for i,row in data.iterrows():
    sql = "INSERT INTO 'pabloiglesias_tweets' ('tweet_id','date','tweet_text','source','in_reply_to_screen_name','user_name','user_screen_name','location','user_url','n_followers','verified') VALUES (''tweet_id','date', 'tweet_text', 'source','in_reply_to_screen_name','user_name', 'user_screen_name', 'location','user_url', 'n_followers', 'verified')"
    
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

## Getting tweets - Santi Abascal

In [ ]:
df_sabascal = track ('@Santi_ABASCAL', 450)

## Dataframe to SQL - Santi Abascal

In [6]:
connection=conn.connect(host='localhost', user='root', passwd='123456')
cursor=connection.cursor()

In [ ]:
# Insert DataFrame recrds one by one.

for i,row in data.iterrows():
    sql = "INSERT INTO 'pabloiglesias_tweets' ('tweet_id','date','tweet_text','source','in_reply_to_screen_name','user_name','user_screen_name','location','user_url','n_followers','verified') VALUES (''tweet_id','date', 'tweet_text', 'source','in_reply_to_screen_name','user_name', 'user_screen_name', 'location','user_url', 'n_followers', 'verified')"
    
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()