# Twitter PainBlock

## Instalaciones y Librerias

In [ ]:
#!pip install tweepy

In [7]:
import json
from pandas.io.json import json_normalize
import pandas as pd
import requests
import tweepy
import csv
import mysql.connector as conn

## API Authentication

In [9]:
# 4 authentication chains

consumer_key='jQTzrkE7vlZbg2ntJu4LESCZs'
consumer_secret='AS4B8YLOWXMcrHjJyZ8stWcm9Cp2qh0rCdIjiWaPBaTTc22tnO'
access_key='902474996-b1ltSFx5Y2EdJfi2s63pghsULdjLTF1lkW6oHBvj'
access_secret='TrZr5nGmi2Q4RcAJJ3UHbwuWkAqjcNXOTfCHLm1eOzpnn'

In [10]:
# authorize twitter, initialize tweepy

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

## Getting tweets - Pablo Iglesias

In [11]:
import sys
sys.path.append('../')

from src.track_function import track

In [12]:
df_piglesias = track ('@PabloIglesias', 500)

In [18]:
df_piglesias.columns

Index(['date', 'tweet_id', 'tweet_text', 'source', 'in_reply_to_screen_name',
       'user_name', 'user_screen_name', 'location', 'user_url', 'n_followers',
       'verified'],
      dtype='object')

In [23]:
df_piglesias = df_piglesias[['tweet_id', 'date', 'tweet_text', 'source', 'in_reply_to_screen_name',
       'user_name', 'user_screen_name', 'location', 'user_url', 'n_followers',
       'verified']]

In [30]:
df_piglesias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tweet_id                 500 non-null    int64
 1   date                     500 non-null    object
 2   tweet_text               500 non-null    object
 3   source                   500 non-null    object
 4   in_reply_to_screen_name  418 non-null    object
 5   user_name                500 non-null    object
 6   user_screen_name         500 non-null    object
 7   location                 500 non-null    object
 8   user_url                 500 non-null    object
 9   n_followers              500 non-null    int64
 10  verified                 500 non-null    bool
dtypes: bool(1), int64(2), object(8)
memory usage: 39.7+ KB

## Dataframe to SQL - Pablo Iglesias

In [34]:
connection=conn.connect(host='localhost', user='root', passwd='123456')
cursor=connection.cursor()

In [42]:
# Insert DataFrame recrds one by one.

        insert_query="insert into {} ({}) values {};"\
                    .format('pabloiglesias_tweets', ','.join(['tweet_id','date',
           'tweet_text','source','in_reply_to_screen_name','user_name',
           'user_screen_name','location','user_url','n_followers','verified']), tuple([tweet_id,date,tweet_text,
                                                                                      source, in_reply_to_screen_name,name,
                                                                                      screen_name,location,url,followers_count,verified]))
cursor.execute(insert_query)
# the connection is not autocommitted by default, so we must commit to save our changes
connection.commit()

SyntaxError: unexpected character after line continuation character (<ipython-input-42-146ad1a85b61>, line 3)

## Getting tweets - Santi Abascal

In [43]:
df_sabascal = track ('@Santi_ABASCAL', 500)

In [44]:
df_sabascal.head()

,date,tweet_id,tweet_text,source,in_reply_to_screen_name,user_name,user_screen_name,location,user_url,n_followers,verified
0,2021-06-18 15:23:16,1405908984020754434,@Francis59108531 @Santi_ABASCAL Jam치s podr치n b...,Twitter for iPhone,Francis59108531,lokailo,lokailo,En la derecha de la vida,https://twitter.com/lokailo,336,False
1,2021-06-18 15:21:35,1405908560094040064,@Santi_ABASCAL Para S치nchez TODO es una mercan...,Twitter for iPhone,Santi_ABASCAL,Mdhumanes,mdhumanes,,https://twitter.com/mdhumanes,1,False
2,2021-06-18 15:21:20,1405908496021962765,Sabemos que han elegido el 26 de junio para sa...,Twitter for Android,None,SpanishTaoist,SpanishTaoist,,https://twitter.com/SpanishTaoist,236,False
3,2021-06-18 15:21:15,1405908476522549255,@Santi_ABASCAL https://t.co/KTBLUgKJdC,Twitter for Android,Santi_ABASCAL,"CGR , Canario y Espa침ol 游쉻릖뻟릖쀯릖",CandidoGutierr9,,https://twitter.com/CandidoGutierr9,594,False
4,2021-06-18 15:21:12,1405908461406363661,@melasudaoficial @NunezHuesca 쯅unca has escuc...,Twitter for iPhone,melasudaoficial,Liberal Enfurru침ada,MuyLiberal,,https://twitter.com/MuyLiberal,37571,True

## Dataframe to SQL - Santi Abascal

In [6]:
connection=conn.connect(host='localhost', user='root', passwd='123456')
cursor=connection.cursor()

In [ ]:
# Insert DataFrame recrds one by one.

for i,row in data.iterrows():
    sql = "INSERT INTO 'pabloiglesias_tweets' ('tweet_id','date','tweet_text','source','in_reply_to_screen_name','user_name','user_screen_name','location','user_url','n_followers','verified') VALUES (''tweet_id','date', 'tweet_text', 'source','in_reply_to_screen_name','user_name', 'user_screen_name', 'location','user_url', 'n_followers', 'verified')"
    
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()