# Twitter PainBlock

## Instalaciones y Librerias

In [72]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 43 kB 3.4 MB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [68]:
import json
from pandas.io.json import json_normalize
import pandas as pd
import requests
import tweepy
import csv
import mysql.connector as conn
import sqlalchemy as alch

In [73]:
import sys
sys.path.append('../')
import src.config

In [64]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-0.17.1-py2.py3-none-any.whl (18 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-0.17.1

In [65]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import os
import dotenv
dotenv.load_dotenv()

True

## API Authentication

In [9]:
# 4 authentication chains

consumer_key='jQTzrkE7vlZbg2ntJu4LESCZs'
consumer_secret='AS4B8YLOWXMcrHjJyZ8stWcm9Cp2qh0rCdIjiWaPBaTTc22tnO'
access_key='902474996-b1ltSFx5Y2EdJfi2s63pghsULdjLTF1lkW6oHBvj'
access_secret='TrZr5nGmi2Q4RcAJJ3UHbwuWkAqjcNXOTfCHLm1eOzpnn'

In [10]:
# authorize twitter, initialize tweepy

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

## Getting tweets - Pablo Iglesias

In [11]:
import sys
sys.path.append('../')

from src.track_function import track

In [12]:
df_piglesias = track ('@PabloIglesias', 500)

In [18]:
df_piglesias.columns

Index(['date', 'tweet_id', 'tweet_text', 'source', 'in_reply_to_screen_name',
       'user_name', 'user_screen_name', 'location', 'user_url', 'n_followers',
       'verified'],
      dtype='object')

In [23]:
df_piglesias = df_piglesias[['tweet_id', 'date', 'tweet_text', 'source', 'in_reply_to_screen_name',
       'user_name', 'user_screen_name', 'location', 'user_url', 'n_followers',
       'verified']]

In [30]:
df_piglesias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tweet_id                 500 non-null    int64
 1   date                     500 non-null    object
 2   tweet_text               500 non-null    object
 3   source                   500 non-null    object
 4   in_reply_to_screen_name  418 non-null    object
 5   user_name                500 non-null    object
 6   user_screen_name         500 non-null    object
 7   location                 500 non-null    object
 8   user_url                 500 non-null    object
 9   n_followers              500 non-null    int64
 10  verified                 500 non-null    bool
dtypes: bool(1), int64(2), object(8)
memory usage: 39.7+ KB

In [47]:
df_piglesias.to_csv ('500Tweets_Iglesias.csv', index = False)

In [51]:
df_piglesias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tweet_id                 500 non-null    int64
 1   date                     500 non-null    object
 2   tweet_text               500 non-null    object
 3   source                   500 non-null    object
 4   in_reply_to_screen_name  418 non-null    object
 5   user_name                500 non-null    object
 6   user_screen_name         500 non-null    object
 7   location                 500 non-null    object
 8   user_url                 500 non-null    object
 9   n_followers              500 non-null    int64
 10  verified                 500 non-null    bool
dtypes: bool(1), int64(2), object(8)
memory usage: 39.7+ KB

## Dataframe to SQL - Pablo Iglesias

In [34]:
connection=conn.connect(host='localhost', user='root', passwd='123456')
cursor=connection.cursor()

In [76]:
password = 123456

In [77]:
connectionData=f"mysql+pymysql://root:{password}@localhost/proyecto_final"
engine = alch.create_engine(connectionData)
print("Conected")

Conected

In [79]:
for n, line in df_piglesias.iterrows():
    engine.execute(
        f"""
        INSERT INTO pabloiglesias_tweets VALUES
        ({line['tweet_id']},{line['date']}, {line['tweet_text']},{line['source']},{line['in_reply_to_screen_name']},{line['user_name']},{line['user_name']}, {line['user_screen_name']},{line['location']},{line['user_url']},{line['n_followers']},{line['verified']};
       """)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '2021-06-18 14:22:01\n1     2021-06-18 14:19:53\n2     2021-06-18 14:18:50\n3     20' at line 2")
[SQL:
        INSERT INTO pabloiglesias_tweets VALUES
        (1405893565998415872,0     2021-06-18 14:22:01
1     2021-06-18 14:19:53
2     2021-06-18 14:18:50
3     2021-06-18 14:12:26
4     2021-06-18 14:09:39
              ...
495   2021-06-17 06:28:10
496   2021-06-17 06:24:56
497   2021-06-17 06:22:11
498   2021-06-17 06:22:00
499   2021-06-17 06:21:53
Name: date, Length: 500, dtype: datetime64[ns], @Vistacha @MikelMoso @PabloIglesias Por ahÃ­ anda, sÃ­. Pero estos, mientras tengan a alguien por debajo, ya les basta.,Twitter for Android,Vistacha,Hiedra V,Hiedra V, HiedraaaaV,,https://twitter.com/HiedraaaaV,1154,False;
       ]
(Background on this error at: http://sqlalche.me/e/14/f405)

## Getting tweets - Santi Abascal

In [43]:
df_sabascal = track ('@Santi_ABASCAL', 500)

In [44]:
df_sabascal.head()

,date,tweet_id,tweet_text,source,in_reply_to_screen_name,user_name,user_screen_name,location,user_url,n_followers,verified
0,2021-06-18 15:23:16,1405908984020754434,@Francis59108531 @Santi_ABASCAL JamÃ¡s podrÃ¡n b...,Twitter for iPhone,Francis59108531,lokailo,lokailo,En la derecha de la vida,https://twitter.com/lokailo,336,False
1,2021-06-18 15:21:35,1405908560094040064,@Santi_ABASCAL Para SÃ¡nchez TODO es una mercan...,Twitter for iPhone,Santi_ABASCAL,Mdhumanes,mdhumanes,,https://twitter.com/mdhumanes,1,False
2,2021-06-18 15:21:20,1405908496021962765,Sabemos que han elegido el 26 de junio para sa...,Twitter for Android,None,SpanishTaoist,SpanishTaoist,,https://twitter.com/SpanishTaoist,236,False
3,2021-06-18 15:21:15,1405908476522549255,@Santi_ABASCAL https://t.co/KTBLUgKJdC,Twitter for Android,Santi_ABASCAL,"CGR , Canario y EspaÃ±ol ðŸ‡®ðŸ‡¨ðŸ‡ªðŸ‡¸",CandidoGutierr9,,https://twitter.com/CandidoGutierr9,594,False
4,2021-06-18 15:21:12,1405908461406363661,@melasudaoficial @NunezHuesca Â¿Nunca has escuc...,Twitter for iPhone,melasudaoficial,Liberal EnfurruÃ±ada,MuyLiberal,,https://twitter.com/MuyLiberal,37571,True

In [46]:
df_sabascal.to_csv ('500Tweets_Abascal.csv', index = False)

## Dataframe to SQL - Santi Abascal

In [6]:
connection=conn.connect(host='localhost', user='root', passwd='123456')
cursor=connection.cursor()

In [ ]:
# Insert DataFrame recrds one by one.

for i,row in data.iterrows():
    sql = "INSERT INTO 'pabloiglesias_tweets' ('tweet_id','date','tweet_text','source','in_reply_to_screen_name','user_name','user_screen_name','location','user_url','n_followers','verified') VALUES (''tweet_id','date', 'tweet_text', 'source','in_reply_to_screen_name','user_name', 'user_screen_name', 'location','user_url', 'n_followers', 'verified')"
    
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

In [1]:
import pickle
filename = 'modeloNLP_Twitter'
clf = pickle.load(open(filename, 'rb'))

AttributeError: Can't get attribute 'text_data_cleaning' on <module '__main__'>