# Unificar XML en un mismo Pandas Dataframe

In [1]:
#Importar las librerías necesarias para leer los archivos de TASS
import xmltodict
import json
import pandas as pd
import re

## Costa Rica

In [ ]:
#Traer el archivo xml original xml y convertirlo en un diccionario, escogimos el de Costa Rica
with open("train_modelo/TASS2019_country_CR_train.xml") as xml_file: # Lo abro
    data_dict = xmltodict.parse(xml_file.read()) # Lo paso a diccionario
xml_file.close()

In [ ]:
#Convertir a json el diccionario
json_data = json.dumps(data_dict)

In [ ]:
#Escribir en un archivo el resultado en json
with open("train_modelo/TASS2019_country_CR_train.json", "w") as json_file:
    json_file.write(json_data)
json_file.close()

In [ ]:
#Limpieza de datos en la fuente
#Original en json
fin = open("train_modelo/TASS2019_country_CR_train.json", "rt")
#Archivo resultante en json
fout = open("train_modelo/TASS2019_country_CR_train-sintilde.json", "wt")
#Procesamiento de lìneas del archivo
for line in fin:
	#Reemplazar los caracteres unicode, no se dejaron tildes porque causan error
    strtmp1 = line.replace('\\u00f1', 'ñ')
    strtmp1 = strtmp1.replace('\\u00e1', 'a')
    strtmp1 = strtmp1.replace('\\u00e9', 'e')
    strtmp1 = strtmp1.replace('\\u00ed', 'i')
    strtmp1 = strtmp1.replace('\\u00f3', 'o')
    strtmp1 = strtmp1.replace('\\u00fa', 'u')
    strtmp1 = strtmp1.replace('\\u00bf', '¿')
    strtmp1 = strtmp1.replace('\\u00a1', '¡')
    strtmp1 = strtmp1.replace('\\u00d1', 'Ñ')
    strtmp1 = strtmp1.replace('\\u00c1', 'A')
    strtmp1 = strtmp1.replace('\\u00c9', 'E')
    strtmp1 = strtmp1.replace('\\u00cd', 'I')
    strtmp1 = strtmp1.replace('\\u00d3', 'O')
    strtmp1 = strtmp1.replace('\\u00da', 'U')
    strtmp1 = strtmp1.replace('\\u00fc', 'ü')
    strtmp1 = strtmp1.replace('\\u00b0', '')
    #Quitar el inicio y el fin del json para dejar solo los tweets
    strtmp1 = strtmp1.replace('{"tweets": {"tweet": ', '')
    strtmp1 = strtmp1.replace(']}}', ']')
    #Quitar el diccionario que contiene la polaridad y dejarla solo con su valor de sentimiento
    strtmp1 = strtmp1.replace('"sentiment": {"polarity": {"value": ', '"sentiment": ')
    strtmp1 = strtmp1.replace('"NONE"}}', '"NONE"')
    #Asignamos al sentimiento positivo el valor de 1
    strtmp1 = strtmp1.replace('"P"}}', '1')
    strtmp1 = strtmp1.replace('"NEU"}}', '"NEU"')
    #Asignamos al sentimiento negativo el valor de 0
    strtmp1 = strtmp1.replace('"N"}}', '0')
    #eliminación de puntuaciones
    strtmp1 = re.sub('[¡!#$).;¿?&°]', '', strtmp1.lower())
    fout.write(strtmp1)
#cerrar archivos
fin.close()
fout.close()

In [ ]:
data= pd.read_json('Data.json', lines=True)

you can try out other things like

data= pd.read_json('Data.json', lines=True, orient='records')

data= pd.read_json('Data.json', orient=str)

In [ ]:
#tomar los datos del archivo creado en un dataframe
train_df = pd.read_json('TASS2019_country_CR_train-sintilde.json')
train_df.head()

## Uruguay

In [ ]:
#Traer el archivo xml original xml y convertirlo en un diccionario, escogimos el de Uruguay
with open("train_modelo/TASS2019_country_UY_train.xml") as xml_file: # Lo abro
    data_dict = xmltodict.parse(xml_file.read()) # Lo paso a diccionario
xml_file.close()

In [ ]:
#Convertir a json el diccionario
json_data = json.dumps(data_dict)

In [ ]:
#Escribir en un archivo el resultado en json
with open("train_modelo/TASS2019_country_UY_train.json", "w") as json_file:
    json_file.write(json_data)
json_file.close()

In [ ]:
#Limpieza de datos en la fuente
#Original en json
fin = open("train_modelo/TASS2019_country_UY_train.json", "rt")
#Archivo resultante en json
fout = open("train_modelo/TASS2019_country_UY_train-sintilde.json", "wt")
#Procesamiento de lìneas del archivo
for line in fin:
	#Reemplazar los caracteres unicode, no se dejaron tildes porque causan error
    strtmp1 = line.replace('\\u00f1', 'ñ')
    strtmp1 = strtmp1.replace('\\u00e1', 'a')
    strtmp1 = strtmp1.replace('\\u00e9', 'e')
    strtmp1 = strtmp1.replace('\\u00ed', 'i')
    strtmp1 = strtmp1.replace('\\u00f3', 'o')
    strtmp1 = strtmp1.replace('\\u00fa', 'u')
    strtmp1 = strtmp1.replace('\\u00bf', '¿')
    strtmp1 = strtmp1.replace('\\u00a1', '¡')
    strtmp1 = strtmp1.replace('\\u00d1', 'Ñ')
    strtmp1 = strtmp1.replace('\\u00c1', 'A')
    strtmp1 = strtmp1.replace('\\u00c9', 'E')
    strtmp1 = strtmp1.replace('\\u00cd', 'I')
    strtmp1 = strtmp1.replace('\\u00d3', 'O')
    strtmp1 = strtmp1.replace('\\u00da', 'U')
    strtmp1 = strtmp1.replace('\\u00fc', 'ü')
    strtmp1 = strtmp1.replace('\\u00b0', '')
    #Quitar el inicio y el fin del json para dejar solo los tweets
    strtmp1 = strtmp1.replace('{"tweets": {"tweet": ', '')
    strtmp1 = strtmp1.replace(']}}', ']')
    #Quitar el diccionario que contiene la polaridad y dejarla solo con su valor de sentimiento
    strtmp1 = strtmp1.replace('"sentiment": {"polarity": {"value": ', '"sentiment": ')
    strtmp1 = strtmp1.replace('"NONE"}}', '"NONE"')
    #Asignamos al sentimiento positivo el valor de 1
    strtmp1 = strtmp1.replace('"P"}}', '1')
    strtmp1 = strtmp1.replace('"NEU"}}', '"NEU"')
    #Asignamos al sentimiento negativo el valor de 0
    strtmp1 = strtmp1.replace('"N"}}', '0')
    #eliminación de puntuaciones
    strtmp1 = re.sub('[¡!#$).;¿?&°]', '', strtmp1.lower())
    fout.write(strtmp1)
#cerrar archivos
fin.close()
fout.close()

In [ ]:
#tomar los datos del archivo creado en un dataframe
train_df = pd.read_json('train_modelo/TASS2019_country_UY_train-sintilde.json')
train_df.head()

## Perú

In [ ]:
#Traer el archivo xml original xml y convertirlo en un diccionario, escogimos el de Perú
with open("train_modelo/TASS2019_country_PE_train.xml") as xml_file: # Lo abro
    data_dict = xmltodict.parse(xml_file.read()) # Lo paso a diccionario
xml_file.close()

In [ ]:
#Convertir a json el diccionario
json_data = json.dumps(data_dict)

In [ ]:
#Escribir en un archivo el resultado en json
with open("train_modelo/TASS2019_country_PE_train.json", "w") as json_file:
    json_file.write(json_data)
json_file.close()

In [ ]:
#Limpieza de datos en la fuente
#Original en json
fin = open("train_modelo/TASS2019_country_PE_train.json", "rt")
#Archivo resultante en json
fout = open("train_modelo/TASS2019_country_PE_train-sintilde.json", "wt")
#Procesamiento de lìneas del archivo
for line in fin:
	#Reemplazar los caracteres unicode, no se dejaron tildes porque causan error
    strtmp1 = line.replace('\\u00f1', 'ñ')
    strtmp1 = strtmp1.replace('\\u00e1', 'a')
    strtmp1 = strtmp1.replace('\\u00e9', 'e')
    strtmp1 = strtmp1.replace('\\u00ed', 'i')
    strtmp1 = strtmp1.replace('\\u00f3', 'o')
    strtmp1 = strtmp1.replace('\\u00fa', 'u')
    strtmp1 = strtmp1.replace('\\u00bf', '¿')
    strtmp1 = strtmp1.replace('\\u00a1', '¡')
    strtmp1 = strtmp1.replace('\\u00d1', 'Ñ')
    strtmp1 = strtmp1.replace('\\u00c1', 'A')
    strtmp1 = strtmp1.replace('\\u00c9', 'E')
    strtmp1 = strtmp1.replace('\\u00cd', 'I')
    strtmp1 = strtmp1.replace('\\u00d3', 'O')
    strtmp1 = strtmp1.replace('\\u00da', 'U')
    strtmp1 = strtmp1.replace('\\u00fc', 'ü')
    strtmp1 = strtmp1.replace('\\u00b0', '')
    #Quitar el inicio y el fin del json para dejar solo los tweets
    strtmp1 = strtmp1.replace('{"tweets": {"tweet": ', '')
    strtmp1 = strtmp1.replace(']}}', ']')
    #Quitar el diccionario que contiene la polaridad y dejarla solo con su valor de sentimiento
    strtmp1 = strtmp1.replace('"sentiment": {"polarity": {"value": ', '"sentiment": ')
    strtmp1 = strtmp1.replace('"NONE"}}', '"NONE"')
    #Asignamos al sentimiento positivo el valor de 1
    strtmp1 = strtmp1.replace('"P"}}', '1')
    strtmp1 = strtmp1.replace('"NEU"}}', '"NEU"')
    #Asignamos al sentimiento negativo el valor de 0
    strtmp1 = strtmp1.replace('"N"}}', '0')
    #eliminación de puntuaciones
    strtmp1 = re.sub('[¡!#$).;¿?&°]', '', strtmp1.lower())
    fout.write(strtmp1)
#cerrar archivos
fin.close()
fout.close()

In [ ]:
#tomar los datos del archivo creado en un dataframe
train_df = pd.read_json('train_modelo/TASS2019_country_PE_train-sintilde.json')
train_df.head()

## Mexico

In [ ]:
#Traer el archivo xml original xml y convertirlo en un diccionario, escogimos el de Mexico
with open("train_modelo/TASS2019_country_MX_train.xml") as xml_file: # Lo abro
    data_dict = xmltodict.parse(xml_file.read()) # Lo paso a diccionario
xml_file.close()

In [ ]:
#Convertir a json el diccionario
json_data = json.dumps(data_dict)

In [ ]:
#Escribir en un archivo el resultado en json
with open("train_modelo/TASS2019_country_MX_train.json", "w") as json_file:
    json_file.write(json_data)
json_file.close()

In [ ]:
#Limpieza de datos en la fuente
#Original en json
fin = open("train_modelo/TASS2019_country_MX_train.json", "rt")
#Archivo resultante en json
fout = open("train_modelo/TASS2019_country_MX_train-sintilde.json", "wt")
#Procesamiento de lìneas del archivo
for line in fin:
	#Reemplazar los caracteres unicode, no se dejaron tildes porque causan error
    strtmp1 = line.replace('\\u00f1', 'ñ')
    strtmp1 = strtmp1.replace('\\u00e1', 'a')
    strtmp1 = strtmp1.replace('\\u00e9', 'e')
    strtmp1 = strtmp1.replace('\\u00ed', 'i')
    strtmp1 = strtmp1.replace('\\u00f3', 'o')
    strtmp1 = strtmp1.replace('\\u00fa', 'u')
    strtmp1 = strtmp1.replace('\\u00bf', '¿')
    strtmp1 = strtmp1.replace('\\u00a1', '¡')
    strtmp1 = strtmp1.replace('\\u00d1', 'Ñ')
    strtmp1 = strtmp1.replace('\\u00c1', 'A')
    strtmp1 = strtmp1.replace('\\u00c9', 'E')
    strtmp1 = strtmp1.replace('\\u00cd', 'I')
    strtmp1 = strtmp1.replace('\\u00d3', 'O')
    strtmp1 = strtmp1.replace('\\u00da', 'U')
    strtmp1 = strtmp1.replace('\\u00fc', 'ü')
    strtmp1 = strtmp1.replace('\\u00b0', '')
    #Quitar el inicio y el fin del json para dejar solo los tweets
    strtmp1 = strtmp1.replace('{"tweets": {"tweet": ', '')
    strtmp1 = strtmp1.replace(']}}', ']')
    #Quitar el diccionario que contiene la polaridad y dejarla solo con su valor de sentimiento
    strtmp1 = strtmp1.replace('"sentiment": {"polarity": {"value": ', '"sentiment": ')
    strtmp1 = strtmp1.replace('"NONE"}}', '"NONE"')
    #Asignamos al sentimiento positivo el valor de 1
    strtmp1 = strtmp1.replace('"P"}}', '1')
    strtmp1 = strtmp1.replace('"NEU"}}', '"NEU"')
    #Asignamos al sentimiento negativo el valor de 0
    strtmp1 = strtmp1.replace('"N"}}', '0')
    #eliminación de puntuaciones
    strtmp1 = re.sub('[¡!#$).;¿?&°]', '', strtmp1.lower())
    fout.write(strtmp1)
#cerrar archivos
fin.close()
fout.close()

In [ ]:
#tomar los datos del archivo creado en un dataframe
train_df = pd.read_json('train_modelo/TASS2019_country_MX_train-sintilde.json')
train_df.head()

# CSV Adjetivos

In [9]:
adjetivos = pd.read_csv('adjetivos.csv')

In [15]:
adjetivos

,tweetid,user,content,date,lang,sentiment
0,767817507897872384,71463624,grande,2016-08-22 20:15:33+00:00,es,1
1,767817507897872385,71463624,gordo,2016-08-22 20:15:33+00:01,es,0
2,767817507897872386,71463624,estrecho,2016-08-22 20:15:33+00:02,es,0
3,767817507897872387,71463624,grotesco,2016-08-22 20:15:33+00:03,es,0
4,767817507897872388,71463624,torpe,2016-08-22 20:15:33+00:04,es,0
...,...,...,...,...,...,...
496,767817507897872880,71463624,capullo,2016-08-22 20:15:33+00:496,es,0
497,767817507897872881,71463624,capulla,2016-08-22 20:15:33+00:497,es,0
498,767817507897872882,71463624,payaso,2016-08-22 20:15:33+00:498,es,0
499,767817507897872883,71463624,payasa,2016-08-22 20:15:33+00:499,es,0
500,767817507897872884,71463624,fraudulento,2016-08-22 20:15:33+00:500,es,0

In [13]:
#Procesamiento de lìneas del archivo
for line in adjetivos:
	#Reemplazar los caracteres unicode, no se dejaron tildes porque causan error
    strtmp1 = line.replace('\\u00f1', 'ñ')
    strtmp1 = strtmp1.replace('\\u00e1', 'a')
    strtmp1 = strtmp1.replace('\\u00e9', 'e')
    strtmp1 = strtmp1.replace('\\u00ed', 'i')
    strtmp1 = strtmp1.replace('\\u00f3', 'o')
    strtmp1 = strtmp1.replace('\\u00fa', 'u')
    strtmp1 = strtmp1.replace('\\u00bf', '¿')
    strtmp1 = strtmp1.replace('\\u00a1', '¡')
    strtmp1 = strtmp1.replace('\\u00d1', 'Ñ')
    strtmp1 = strtmp1.replace('\\u00c1', 'A')
    strtmp1 = strtmp1.replace('\\u00c9', 'E')
    strtmp1 = strtmp1.replace('\\u00cd', 'I')
    strtmp1 = strtmp1.replace('\\u00d3', 'O')
    strtmp1 = strtmp1.replace('\\u00da', 'U')
    strtmp1 = strtmp1.replace('\\u00fc', 'ü')
    strtmp1 = strtmp1.replace('\\u00b0', '')
    #Quitar el inicio y el fin del json para dejar solo los tweets
    strtmp1 = strtmp1.replace('{"tweets": {"tweet": ', '')
    strtmp1 = strtmp1.replace(']}}', ']')
    #Quitar el diccionario que contiene la polaridad y dejarla solo con su valor de sentimiento
    strtmp1 = strtmp1.replace('"sentiment": {"polarity": {"value": ', '"sentiment": ')
    strtmp1 = strtmp1.replace('"NONE"}}', '"NONE"')
    #Asignamos al sentimiento positivo el valor de 1
    strtmp1 = strtmp1.replace('"P"}}', '1')
    strtmp1 = strtmp1.replace('"NEU"}}', '"NEU"')
    #Asignamos al sentimiento negativo el valor de 0
    strtmp1 = strtmp1.replace('"N"}}', '0')
    #eliminación de puntuaciones
    strtmp1 = re.sub('[¡!#$).;¿?&°]', '', strtmp1.lower())

In [14]:
adjetivos.head()

,tweetid,user,content,date,lang,sentiment
0,767817507897872384,71463624,grande,2016-08-22 20:15:33+00:00,es,1
1,767817507897872385,71463624,gordo,2016-08-22 20:15:33+00:01,es,0
2,767817507897872386,71463624,estrecho,2016-08-22 20:15:33+00:02,es,0
3,767817507897872387,71463624,grotesco,2016-08-22 20:15:33+00:03,es,0
4,767817507897872388,71463624,torpe,2016-08-22 20:15:33+00:04,es,0

In [ ]:
adjetivos =

## Unificar 4 Pandas

In [2]:
espana = pd.read_json("TASS2019_country_ES_train-sintilde.json")

espana

,tweetid,user,content,date,lang,sentiment
0,768213567418036224,3429794128,@myendlesshazza a que puto mal escribo b me si...,2016-08-23 22:29:21+00:00,es,0
1,768221670255493120,396616007,quiero mogollon a @albabenito99 pero sobretodo...,2016-08-23 23:01:33+00:00,es,1
2,768221021300264960,2845050061,vale he visto la tia bebiendose su regla y me ...,2016-08-23 22:58:58+00:00,es,0
3,768220253730009088,442100979,@yulian_poe @guillermoterry1 ah mucho mas por ...,2016-08-23 22:55:55+00:00,es,1
4,768231229439311872,529648312,@toni_end seria mejor que dejasen de emitir es...,2016-08-23 23:39:32+00:00,es,0
...,...,...,...,...,...,...
1120,814846333601320960,1176743168,para mi mi mejor año fue el 2015,2016-12-30 14:51:19+00:00,es,1
1121,813731371076243456,190412887,hoy va a ser un dia muy largo,2016-12-27 13:00:51+00:00,es,0
1122,818399956792905728,2643532245,11:11 que no me encuentre mal,2017-01-09 10:12:09+00:00,es,neu
1123,815715581878009856,1073118230,es que son muy bonitas jo,2017-01-02 00:25:24+00:00,es,1
1124,816978031357161472,1073118230,que no jo que no soy tan irresponsable,2017-01-05 12:01:56+00:00,es,1

In [3]:
uruguay = pd.read_json('train_modelo/TASS2019_country_UY_train-sintilde.json')

uruguay

,tweetid,user,content,date,lang,sentiment
0,768529421548609536,293627746,yo espero tranquila si gana de nvo alg partido...,2016-08-24 19:24:27+00:00,es,neu
1,771028255629512704,35709180,"los fracasos de michelle, cristina y dilma mue...",2016-08-31 16:53:55+00:00,es,0
2,771055632854183936,146577758,debemos orar por los hnos venezolanos gente q ...,2016-08-31 18:42:43+00:00,es,0
3,770138191689093120,355883744,me dijo que no le habia gustado no se cuantas ...,2016-08-29 05:57:08+00:00,es,neu
4,769716104491040768,2701106364,@susanagkp jajaja yo fui el viernes precavido...,2016-08-28 01:59:54+00:00,es,0
...,...,...,...,...,...,...
938,811436261059792896,2227486286,@amorakilates @roocio_mk si me pasa lo mismo,2016-12-21 05:00:55+00:00,es,none
939,809280785182322688,140260506,@clauchoarrionda pquno ladra y ls demas retwitean,2016-12-15 06:15:49+00:00,es,neu
940,810772298911350784,3291225459,a mi desayuno le hizo falta un alfajor podrida...,2016-12-19 09:02:34+00:00,es,0
941,813200690894045184,2257050336,viste cuando necesitas que alguien te escuche ...,2016-12-26 01:52:07+00:00,es,0
942,813476406248275968,707984087085129728,@cuervotinelli @candetinelli mañana es mi prim...,2016-12-26 20:07:43+00:00,es,neu

In [4]:
peru = pd.read_json('train_modelo/TASS2019_country_PE_train-sintilde.json')
peru

,tweetid,user,content,date,lang,sentiment
0,772432598027145216,71546415,"sin ser fan de juan gabriel, siempre supe que ...",2016-09-04 13:54:17+00:00,es,1
1,772489016352669696,53311422,sabes que no tendras un buen dia cuando lo pri...,2016-09-04 17:38:28+00:00,es,0
2,771317218634149888,599653674,"en situaciones en las que no sepas que hacer, ...",2016-09-01 12:02:09+00:00,es,0
3,771715645843079168,106919551,ayer preguntaban y donde estan las solteras to...,2016-09-02 14:25:22+00:00,es,neu
4,771744506861461504,599653674,que el finde sea para hacer cualquier cosa que...,2016-09-02 16:20:03+00:00,es,neu
...,...,...,...,...,...,...
961,818130147366813696,105705498,"terminaran odiandome, como casi todos los padr...",2017-01-08 16:20:01+00:00,es,0
962,816876533231079424,1005307664,necesito urgente entrar a la gimnasia y al gim...,2017-01-05 05:18:37+00:00,es,none
963,816890935808323584,112088294,lo que me recuerda que @edvergaray me criticar...,2017-01-05 06:15:50+00:00,es,none
964,818483269255761920,711592506329329664,"hasta lo peor de mi, quiere lo mejor para ti",2017-01-09 15:43:12+00:00,es,neu
965,818261014407843840,312135199,"al final, siempre me quedo sola en casa",2017-01-09 01:00:03+00:00,es,none

In [5]:
mex = pd.read_json('train_modelo/TASS2019_country_MX_train-sintilde.json')
mex

,tweetid,user,content,date,lang,sentiment
0,767817507897872384,71463624,— nivel de ingles — alto — traduzca juguete — ...,2016-08-22 20:15:33+00:00,es,neu
1,772486813948575744,572924309,si soy de area 4 y con suerte pase mate iv y m...,2016-09-04 17:29:43+00:00,es,0
2,771871884451295232,158142748,sabian que su after fav teatro g fue construid...,2016-09-03 00:46:12+00:00,es,1
3,771947976302456832,132254421,y hoy por primera vez me sali con el permiso d...,2016-09-03 05:48:34+00:00,es,1
4,774741645484896256,105530236,"para que hacen coraje con ambriz, al final no ...",2016-09-10 22:49:36+00:00,es,0
...,...,...,...,...,...,...
984,818773396318277632,195469214,si quieren que aprenda algo de eso dejen esa m...,2017-01-10 10:56:04+00:00,es,neu
985,818738784657408000,93545559,ultimos momentos en medicina familiar y de gua...,2017-01-10 08:38:32+00:00,es,none
986,819050320177152000,322339981,@natyamezcua hay pues hay que ver que hacemos ...,2017-01-11 05:16:28+00:00,es,neu
987,819049335602216960,627591478,me acabo de tragar un pastel en mood celina,2017-01-11 05:12:33+00:00,es,0
988,819093294546305024,445318639,"pobresita jajajaja, no no tendras su amistad d...",2017-01-11 08:07:14+00:00,es,0

In [6]:
final = [espana, uruguay, peru,mex]

result = pd.concat(final)

In [7]:
final = result.reset_index(drop=True)

In [8]:
final = final.to_csv('test_final.csv',index=False)

# CSV completo final

In [20]:
final_resultado = [espana, uruguay, peru,mex,adjetivos]

result = pd.concat(final_resultado)

In [21]:
final_resultado = result.reset_index(drop=True)

In [22]:
final_resultado.shape

(4524, 6)

In [23]:
final_resultado = final_resultado.to_csv('final_resultado.csv',index=False)